In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [17]:
# Create a DataFrame for the healthcare-dataset-stroke-data.csv. 
stroke_df = pd.read_csv('resources/healthcare-dataset-stroke-data.csv')
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [11]:
#  Get a list of all columns within the DataFrame.
stroke_df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [9]:
# Check the datatypes of your columns.
stroke_df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [19]:
# Identify all the possible values in the gender column
stroke_df['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [20]:
# This is one way to encode string values into numeric values
gender_dict = {'Male': 0, 'Female': 1,'Other': 2}
stroke_df1 = stroke_df.replace({'gender': gender_dict})

In [21]:
# gender names have been replaced with numbers
stroke_df1['gender'].unique()

array([0, 1, 2])

In [28]:
# Check the datatypes of your columns.
stroke_df1.dtypes

id                     int64
gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [23]:
# Identify all the possible values in the smoking_status column
stroke_df1['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [29]:
# This is one way to encode string values into numeric values
smoking_dict = {'formerly smoked': 0, 'never smoked': 1,'smokes': 2, 'Unknown': 3}
stroke_df2 = stroke_df1.replace({'smoking_status': smoking_dict})

In [30]:
# gender names have been replaced with numbers
stroke_df2['smoking_status'].unique()

array([0, 1, 2, 3])

In [31]:
# Check the datatypes of your columns.
stroke_df2.dtypes

id                     int64
gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status         int64
stroke                 int64
dtype: object

In [13]:
# Identify incomplete rows
# stroke_df.count()

# Drop all rows with missing information
# stroke_df = stroke_df.dropna(how='any')

# Verify dropped rows
# df.count()

id                   5110
gender               5110
age                  5110
hypertension         5110
heart_disease        5110
ever_married         5110
work_type            5110
Residence_type       5110
avg_glucose_level    5110
bmi                  4909
smoking_status       5110
stroke               5110
dtype: int64

In [ ]:
# Display a statistical overview of the DataFrame
# stroke_df.describe()