In [1]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path
from collections import Counter
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')
import seaborn as sns

## Read in the Clean CSV File

In [2]:
# Create a DataFrame for the healthcare-dataset-stroke-data.csv. 
stroke_df = pd.read_csv('../resources/clean_strings_stroke_df.csv', index_col=False)
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Yes,Private,Urban,228,36,formerly smoked,1
1,31112,Male,80,0,1,Yes,Private,Rural,105,32,never smoked,1
2,60182,Female,49,0,0,Yes,Private,Urban,171,34,smokes,1
3,1665,Female,79,1,0,Yes,Self-employed,Rural,174,24,never smoked,1
4,56669,Male,81,0,0,Yes,Private,Urban,186,29,formerly smoked,1

In [3]:
# id column from dataframe
# Delete id column
del stroke_df['id']

In [4]:
# confirm removal of id column
stroke_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67,0,1,Yes,Private,Urban,228,36,formerly smoked,1
1,Male,80,0,1,Yes,Private,Rural,105,32,never smoked,1
2,Female,49,0,0,Yes,Private,Urban,171,34,smokes,1
3,Female,79,1,0,Yes,Self-employed,Rural,174,24,never smoked,1
4,Male,81,0,0,Yes,Private,Urban,186,29,formerly smoked,1

In [5]:
# Display a statistical overview of the DataFrame
stroke_df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000
mean,42.854145,0.091872,0.049501,104.816052,28.448564,0.042575
std,22.575986,0.288875,0.216934,44.417384,7.843834,0.201917
min,0.000000,0.000000,0.000000,55.000000,10.000000,0.000000
25%,25.000000,0.000000,0.000000,77.000000,23.000000,0.000000
50%,44.000000,0.000000,0.000000,91.000000,28.000000,0.000000
75%,60.000000,0.000000,0.000000,113.000000,33.000000,0.000000
max,82.000000,1.000000,1.000000,271.000000,97.000000,1.000000

In [6]:
# count()
# dtypes
# value_counts()
# info()

In [7]:
# stroke_df.plot(kind="bar") week 5 day 2