In [2]:
# pip install seaborn
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     -------------------------------------- 288.2/288.2 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy>=1.17 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: typing_extensions in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from seaborn) (4.3.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: packaging>=20.0 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\15619\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.1

In [3]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path
from collections import Counter
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')
import seaborn as sns

## Read in the Clean CSV File

In [5]:
# Create a DataFrame for the healthcare-dataset-stroke-data.csv. 
file_path = Path("../resources/healthcare-dataset-stroke-data.csv")
stroke_df = pd.read_csv(file_path)
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [7]:
# id column from dataframe
# Delete id column
stroke_df = stroke_df.drop(labels="id", axis=1)
stroke_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
# Display a statistical overview of the DataFrame
stroke_df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
# count()
# dtypes
# value_counts()
# info()

In [ ]:
# stroke_df.plot(kind="bar") week 5 day 2