In [1]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

# Import the style from Matplotlib.
from matplotlib import style
%matplotlib inline
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

In [2]:
# Create a DataFrame for the healthcare-dataset-stroke-data.csv. 
stroke_df = pd.read_csv('../resources/clean_stroke_df.csv')
stroke_df.head()

,Unnamed: 0,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,9046,67,0,1,228,36,1,0,1,...,0,1,0,0,0,1,0,1,0,0
1,2,31112,80,0,1,105,32,1,0,1,...,0,1,0,0,1,0,0,0,1,0
2,3,60182,49,0,0,171,34,1,1,0,...,0,1,0,0,0,1,0,0,0,1
3,4,1665,79,1,0,174,24,1,1,0,...,0,0,1,0,1,0,0,0,1,0
4,5,56669,81,0,0,186,29,1,0,1,...,0,1,0,0,0,1,0,1,0,0

In [3]:
#  Get a list of all columns within the DataFrame.
stroke_df.columns

Index(['Unnamed: 0', 'id', 'age', 'hypertension', 'heart_disease',
       'avg_glucose_level', 'bmi', 'stroke', 'gender_Female', 'gender_Male',
       'gender_Other', 'ever_married_No', 'ever_married_Yes',
       'work_type_Govt_job', 'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Rural',
       'Residence_type_Urban', 'smoking_status_Unknown',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

In [4]:
# Check the datatypes of your columns.
stroke_df.dtypes

Unnamed: 0                        int64
id                                int64
age                               int64
hypertension                      int64
heart_disease                     int64
avg_glucose_level                 int64
bmi                               int64
stroke                            int64
gender_Female                     int64
gender_Male                       int64
gender_Other                      int64
ever_married_No                   int64
ever_married_Yes                  int64
work_type_Govt_job                int64
work_type_Never_worked            int64
work_type_Private                 int64
work_type_Self-employed           int64
work_type_children                int64
Residence_type_Rural              int64
Residence_type_Urban              int64
smoking_status_Unknown            int64
smoking_status_formerly smoked    int64
smoking_status_never smoked       int64
smoking_status_smokes             int64
dtype: object